@page "/checkout"
@using WebShop.Common;
@using WebShop.Data;

@inject WebShopHandler wsh;
@inject NavigationManager navigationManager

@inject AuthenticationStateProvider StateProvider;
@inject UserManager<ApplicationUser> userManager;

@* @attribute [Authorize] *@
@rendermode InteractiveServer


<PageTitle>Checkout</PageTitle>
<WebshopHeader ShoppingListLength="@wsh.ShoppingCart.Count()"></WebshopHeader>
<div>
    <nav stype="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" <a href="#">Home</a></li>
        </ol>
    </nav>
</div>
@if (error)
{
    <alert role="alert">User is null</alert>
}

@foreach (var product in wsh.ShoppingCart)
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price/item</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@(wsh.ShoppingCart.IndexOf(product) + 1)</td>
                <td><img src="@product.Url" width="180px" /></td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>1</td>
                <td>@product.Price</td>
            </tr>
        </tbody>
    </table>
}

@if (user is not null)
{

    <form class="form-control">
        @*TODO: Fetch user info*@
        @*TODO Connect list and user*@
        @*TODO: If user exist, print adress and name automatically*@
        <label class="form-label">Name</label>
        <input type="text" class="form-control" required @bind="@user.UserName" />

        <label class="form-label">E-mail</label>
        <input type="text" class="form-control" required @bind="@user.Email" />

        <input type="checkbox" class="form-check" required" /> Agree to terms and privacy policy
    </form>
    <input type="submit" @onclick="NavigateToConfirmation" value="Confirm" />
}

@code {
    public bool purchaseComplete = false;
    ApplicationUser? user;
    AuthenticationState authenticationState;

    public bool submited = false;
    public bool error = false;


    public void NavigateToConfirmation()
    {
        //Använd sessionstorage
        navigationManager.NavigateTo("/confirmation");
    }

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await StateProvider.GetAuthenticationStateAsync();
        var stateUser = await userManager.GetUserAsync(authenticationState.User);
        if (stateUser is not null)
            user = await wsh.GetUserShopinglistInfo(stateUser);
        else
        {
            navigationManager.NavigateTo("/");
        }
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            authenticationState = await StateProvider.GetAuthenticationStateAsync();
            var stateUser = await userManager.GetUserAsync(authenticationState.User);
            if (stateUser is not null)
            {
                user = await wsh.GetUserShopinglistInfo(stateUser);
            }
            else
            {
                navigationManager.NavigateTo("/");
            }
        }
        StateHasChanged();
    }
}
