@page "/oldconfirmation"
@using WebShop.Common;
@using WebShop.Data;

@rendermode InteractiveServer
@inject HttpClient HttpClient
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider StateProvider
@inject WebShopHandler wsh
@inject UserManager<ApplicationUser> userManager

<h3>Confirmation</h3>
<WebshopHeader
ShoppingListLength="@wsh.ShoppingCart.Count()"></WebshopHeader>

@if (purchaseConfirmed)
{
    <h2>Thank you for purchasing!</h2>
}
else
{
<p><i>Double-click on the DKK-button to revert to the original price.</i></p>
<div class="btn-group-sm">
    <nav>
        <button class="btn btn-warning opacity-50" @onclick="()=>ExchangeAsync('E',currentCurrency)">&#8364;</button>
        <button class="btn btn-success opacity-50" @onclick="()=>ExchangeAsync('U', currentCurrency)">&#36;</button>
        <button class="btn btn-primary opacity-50" @onclick="()=>ExchangeAsync('D', currentCurrency)">DKK</button>
    </nav>
</div>
    @foreach (var product in wsh.ShoppingCart)
    {
        <table class="table">
            <thead>
                <tr>
                  <th>#</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price/item</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@(wsh.applicationUser.ShoppingCart.ShoppingList.IndexOf(product) + 1)</td
                    <td><img src="@product.Product.Url" width="180px" /></td>
                    <td>@product..Product.Name</td>
                    <td>@product.Product.Description</td>
                    <td>@product.Quantity</td>
                    <td>@((product.Product.Price*exchangeRate) *product.Quantity) @wsh.currency</td>
                </tr>
            </tbody>
        </table>
    }
    @if(user is not null)
    {
    <form class="form-control">
        <input class="form-control" type="text" placeholder="Name" disabled @bind="user.UserName"/>
        <input class="form-control" type="text" placeholder="Adress"  disabled @bind="user.Email" />
    </form>
    <input type="submit" @onclick="ConfirmPurchase" value="Submit" />
    }
 }

@code {
    public bool purchaseConfirmed = false;

    ApplicationUser? user;
    AuthenticationState authenticationState;

    public double exchangeRate = 1;
    public string currency = "DKK";
    char currentCurrency = 'D';
    public async Task ExchangeAsync(char toCurrencyInput, char fromCurrencyInput)
    {
        HttpClient.DefaultRequestHeaders.Clear();
        string fromCurrency = string.Empty;
        string toCurrency = string.Empty;
        //$=>DKK
        if (toCurrencyInput == 'D' && currentCurrency == 'U')
        {
            fromCurrency = "USD";
            toCurrency = "DKK";
            currency = "DKK";
            currentCurrency = 'D';
        }
        //E=>DKK
        else if (toCurrencyInput == 'D' && currentCurrency == 'E')
        {
            fromCurrency = "EUR";
            toCurrency = "DKK";
            currency = "DKK";
            currentCurrency = 'D';
        }
        //DKK=>€
        else if (toCurrencyInput == 'E' && currentCurrency == 'D')
        {
            fromCurrency = "DKK";
            toCurrency = "EUR";
            currency = "€";
            currentCurrency = 'E';
        }
        //$=>€
        else if (toCurrencyInput == 'E' && currentCurrency == 'U')
        {
            fromCurrency = "USD";
            toCurrency = "EUR";
            currency = "€";
            currentCurrency = 'E';
        }
        //€=>$
        else if (toCurrencyInput == 'U' && currentCurrency == 'E')
        {
            fromCurrency = "EUR";
            toCurrency = "USD";
            currency = "$";
            currentCurrency = 'U';
        }
        //DKK=>$
        else if (toCurrencyInput == 'U' && currentCurrency == 'D')
        {
            fromCurrency = "DKK";
            toCurrency = "USD";
            currency = "$";
            currentCurrency = 'U';
        }
        else
        {
            if (currentCurrency == 'D')
            {
                fromCurrency = "DKK";
                toCurrency = "DKK";
                currency = currency;
            }
            else if (currentCurrency == 'E')
            {
                fromCurrency = "EUR";
                toCurrency = "EUR";
                currency = currency;
            }
            else
            {
                fromCurrency = "USD";
                toCurrency = "USD";
                currency = currency;
            }
        }
        HttpClient.DefaultRequestHeaders.Add("X-Api-Key", "oSZAPBiQWuTEFVLaXLzrkQ==SCNxLNPoxMs72JLy");
        var response = await HttpClient.GetFromJsonAsync<ResponseType>($"https://api.api-ninjas.com/v1/exchangerate?pair={fromCurrency}_{toCurrency}");
        exchangeRate = response.exchange_rate;
        wsh.currency = currency;
        HttpClient.DefaultRequestHeaders.Clear();
    }

    public async Task ConfirmPurchase()
    {
        purchaseConfirmed = true;
        wsh.ConfirmPurchase();
        await Task.Delay(800);
        navigationManager.NavigateTo("/");
    }
  
    protected override async Task OnInitializedAsync()
    {
        authenticationState = await StateProvider.GetAuthenticationStateAsync();
        var stateUser = await userManager.GetUserAsync(authenticationState.User);
        if (stateUser is not null)
            user = await wsh.GetUserShopinglistInfo(stateUser);
        else
            navigationManager.NavigateTo("/");        
        StateHasChanged();
    }
    
}
