@page "/confirmation"

@using WebShop.Common;
 @using WebShop.Data;

@rendermode InteractiveServer
@inject WebShopHandler wsh
@inject NavigationManager navigationManager

<h3>Confirmation</h3>
<WebshopHeader>@*  ShoppingListLength="wsh.ShoppingCart.Count"> *@</WebshopHeader>
@if (purchaseConfirmed)
{
    <h2>Thank you for purchasing!</h2>
}
else
{
    @foreach (var product in wsh.ShoppingCart)
    {
        <table class="table">
            <thead>
                <tr>
                  <th>#</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price/item</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@(wsh.ShoppingCart.IndexOf(product) + 1)</td
                    <td><img src="@product.Url" width="180px" /></td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price</td>
                </tr>
            </tbody>
        </table>
    }
 }
    
    @*
    <form class="form-control">
        <input class="form-control" type="text" placeholder="Name" @bind="wsh.Customer.Username" disabled />
        <input class="form-control" type="text" placeholder="Adress" @bind="wsh.Customer.Password" disabled />
    </form>
    <input type="submit" @onclick="ConfirmPurchase" value="Submit" />
 *@

    @code {

        //Here we update the quantity in the database
    public bool purchaseConfirmed = false;

    public async Task ConfirmPurchase()
    {
        purchaseConfirmed = true;
        wsh.ConfirmPurchase(purchaseConfirmed);
        await Task.Delay(700);
        navigationManager.NavigateTo("/");
    }
}
